# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
logs/
*.log

# Data (usually should not be committed)
data/
*.csv
*.parquet
*.zip

# Python
__pycache__/
*.pyc
.venv/
env/

# dbt
sanford_dbt/target/
sanford_dbt/dbt_packages/
sanford_dbt/logs/

# Secrets
.env
*.key
*.pem

# Power BI (optional: usually keep pbix out of git)
*.pbix
